canvas {
    border: 1px solid #d3d3d3;
    background-image: url("background.png");
    background-position: center;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    width: 100px;
    height: 100px;
}

#marks {
    font-size: x-large;
}